apiVersion: v1
kind: Secret
metadata:
  name: wrapper-creds
  namespace: wxa4z-zad
type: Opaque
stringData:
  username: "{{ opensearch_wrapper_username | default('admin') }}"
  password: "{{ opensearch_wrapper_password | default('admin') }}"