apiVersion: v1
kind: Secret
metadata:
  name: wxa4z-ifm-credentials
  namespace: wxa4z-zad
type: Opaque
stringData:
  MODEL_RUNTIME: "{{ model_runtime }}"

  # --- openai_protocol only ---
  LLM_BASE_URL: "{{ llm_base_url }}"
  LLM_API_KEY: "{{ llm_api_key }}"

  # --- on-prem / cloud only ---
  CPD_USERNAME: "cpadmin"
  WATSONX_URL: "{{ watsonx_url }}"
  WATSONX_API_KEY: "{{ watsonx_api_key }}"
  WATSONX_MODEL_ID: "{{ watsonx_model_id }}"
  WATSONX_SPACE_ID: "{{ watsonx_space_id }}"
  WATSONX_PROJECT_ID: "{{ watsonx_project_id }}"