apiVersion: v1
kind: Secret
metadata:
  name: wxa4z-authorization-secrets
  namespace: wxa4z-zad
type: Opaque
stringData:
  STS_SECRET: "{{ sts_secret }}"
  P12_PASSWORD: "{{ p12_password }}"
  JWT_SIGNING_KEY: "{{ jwt_signing_key }}"
  PLATFORM_AGENT_SECRET: "{{ platform_agent_secret }}"
  AUTH_SERVICE_BASE_URL: "http://wxa4z-authorization-service.wxa4z-zad.svc.cluster.local:8080"
  CICS_AGENT_TOKEN: "{{ cics_agent_token }}"
  DB2_AGENT_TOKEN: "{{ db2_agent_token }}"
  IMS_AGENT_TOKEN: "{{ ims_agent_token }}"
  INTELLIMAGIC_AGENT_TOKEN: "{{ intellimagic_agent_token }}"
  OMEGAMON_AGENT_TOKEN: "{{ omegamon_agent_token }}"
  SUPPORT_AGENT_TOKEN: "{{ support_agent_token }}"
  UPGRADE_AGENT_TOKEN: "{{ upgrade_agent_token }}"
  ZOWE_ENABLED: "{{ zowe_enabled | default('false') }}"