apiVersion: v1
kind: Secret
metadata:
  name: wxa4z-watsonx-credentials
  namespace: wxa4z-zad
type: Opaque
stringData:
  ORCHESTRATE_ENV_TYPE: "{{ orchestrate_env_type | default('cpd') }}"
  CPD_INSTANCE_API_KEY: "{{ watsonx_api_key | default('') }}"
  ORCHESTRATE_ENV_URL: "{{ orchestrate_env_url | default('') }}"
  CPD_USERNAME: "cpadmin"
  WATSONX_DEPLOYMENT_SPACE_ID: "{{ watsonx_space_id | default('') }}"
  WATSONX_ML_URL: "{{ watsonx_url | default('') }}"
  EXTERNAL_WATSONX_API_KEY: "{{ external_watsonx_api_key | default('') }}"
  WATSONX_PROJECT_ID: "{{ watsonx_project_id | default('') }}"
  LANGFUSE_HOST: "{{ langfuse_host | default('') }}"
  LANGFUSE_SECRET_KEY: "{{ langfuse_secret_key | default('') }}"
  LANGFUSE_PUBLIC_KEY: "{{ langfuse_public_key | default('') }}"
  MODEL_RUNTIME: "{{ model_runtime | default('') }}"
  LLM_BASE_URL: "{{ llm_base_url | default('') }}"
  LLM_API_KEY: "{{ llm_api_key | default('') }}"
  WRAPPER_URL: "{{ wrapper_url | default('') }}"
  WRAPPER_PASSWORD: "{{ opensearch_wrapper_password | default('') }}"
  WRAPPER_USERNAME: "{{ opensearch_wrapper_username | default('') }}"
  INGESTION_PASSWORD: "{{ opensearch_client_password | default('') }}"
  INGESTION_URL: "{{ ingestion_url | default('') }}"
  TENANT_ID: "{{ wxo_tenant_id | default('') }}"
  TRANSFORM_API_KEY: "{{ transform_api_key_generated | default('') }}"
