spec_version: v1
kind: model
name: watsonx/meta-llama/llama-3-3-70b-instruct
display_name: rhaiis-llama-3-3-70b-instruct 
description: |-
    llama-3-3-70b-instruct provided by RedHat AI Inferencing Service.
tags: 
  - ibm
  - watsonx
  - default
model_type: chat
provider_config:
  watsonx_space_id: "" 